
h1 {      
  text-align: center;
} 

h3 {
  text-transform: capitalize;
}

.page-container {
  margin-top: 100px;
}

#pokemon-button {
  text-transform: uppercase;
  background-color: #008295;
}

.list-group{
  display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 10px;
justify-content: center;
}